/* Styling */
footer {
  background-color: var(--6b1ee82f-3cb6-4887-b0fd-57c6d8aeea60);
}

footer * {
  color: var(--d53153c5-2bb6-4e80-8a94-25578440e6e1);
}

footer nav ul {
  list-style: none;
}

footer nav ul a:hover {
  text-decoration: underline;
}

footer nav ul li span {
  text-decoration: line-through;

}

footer nav button {
  color: var(--6b1ee82f-3cb6-4887-B0FD-57c6d8aeea60);
  background: var(--d53153c5-2bb6-4e80-8a94-25578440e6e1);
  border-radius: 1vw;
}

footer nav button:hover {
  color: var(--6b1ee82f-3cb6-4887-b0fd-57c6d8aeea60);
  background: var(--34ace198-814d-4bdd-a836-f8d0bd5d73f1);
  border-radius: 1vw;
}

/* Behaviour */
footer nav button:hover {
  cursor: pointer;
}

/* Layout */
footer {
  display: flex;
  flex-direction: column;
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 3vw;
}

footer nav ul {
  display: flex;
  gap: 8vw;
}

footer nav button {
  padding: 1.2vw 5vw;
}

footer #title {
  display: flex;
  justify-content: center;
  padding: 8vw 12vw 12vw 12vw;
}

/* Blocks */
footer nav img {
  width: 10vw;
}

footer nav button {
  font-size: 1vw;
}

footer nav ul {
  font-size: 1.2vw;
}

footer #title h1 {
  text-align: center;
  font-size: 7.9vw;
  font-weight: 900;
}