@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

/* Variables */
:root {
  /* Theme */
  --0cbc23af-08ba-4603-b0d4-faf972f132fb: #6e0f83;
  --d53153c5-2bb6-4e80-8a94-25578440e6e1: #fefefe;
  --6b1ee82f-3cb6-4887-b0fd-57c6d8aeea60: #261d2a;
  --34ace198-814d-4bdd-a836-f8d0bd5d73f1: #f3eaf7;
  --ebc70766-d6f5-475d-8006-409067ec6ef6: #322738;
  --fab086d1-ad61-4538-9c7f-c8f016f77d40: #faf1fe;
  /* Values */
  --f6161351-580c-4b6a-bdff-ad8aa0f13f70: 0;
}

/* Styling */
header {
  background-image: url("ks-main-background.png");
  background-size: cover;
  background-position: center;
}

header * {
  font-family: "Kanit";
  color: var(--d53153c5-2bb6-4e80-8a94-25578440e6e1);
}

header nav ul {
  list-style: none;
}

header nav ul a:hover {
  text-decoration: underline;
}

header nav button {
  color: var(--ebc70766-d6f5-475d-8006-409067ec6ef6);
  background: var(--d53153c5-2bb6-4e80-8a94-25578440e6e1);
  border-radius: 1em;
}

header nav button:hover {
  color: var(--6b1ee82f-3cb6-4887-b0fd-57c6d8aeea60);
  background: var(--34ace198-814d-4bdd-a836-f8d0bd5d73f1);
  border-radius: 1em;
}

/* Behaviour */
header nav button:hover {
  cursor: pointer;
}

/* Layout */
header {
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 3em;
}

header nav ul {
  display: flex;
  gap: 8vw;
}

header nav button {
  padding: 1em 5em;
}

header #title {
  display: flex;
  justify-content: center;
  gap: 2.6em;
  padding: 8em 12em 12em 12em;
}

/* Blocks */
header nav img {
  width: 10em;
}

header nav button {
  font-size: 0.9em;
}

header #title h1 {
  text-align: center;
  font-size: 7.9vw;
  font-weight: 900;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #999;
  position: fixed;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
  border-radius: 100vw;
}